table {
  width: 95%;
  margin: 0.2rem auto;
}

th.mat-sort-header-sorted {
  color: black;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.example-form,
.example-container {
  min-width: 500px;
  width: 95%;
  margin: 1rem auto;
}

button {
  border: solid 1px #673ab7;
  margin: 1rem;
}

.example-full-width {
  width: 95%;
  padding: 1rem;
}

