.example-form,
.example-container {
  min-width: 500px;
  width: 95%;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 1rem auto;
  color: rgb(255, 255, 255);
}

.example-full-width {
  width: 95%;
  padding: 1rem;
}
.example-button-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
button {
  border: solid 1px #c2185b;
  margin: 0.2rem auto;
}